*{
	font-family: 'BhuTuka Expanded One', cursive;
}
.headersLogo{
	display: flex;
	position: relative;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	padding: 0 5%;
	height: 55px;
	justify-content: space-between;
	background-color: rgba(227, 130, 130,0.7);
}
.about{
	margin-left: 100px;
}
.resetPassTitle{
	font-size: 2.2rem;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: rgb(198, 75, 45);
	transition: 0.2s ease;
}
nav .logo:hover {
	font-size: 25px;
	color: rgba(25, 0, 255, 0.6);
}
nav .links {
	float: right;
	padding: 0;
	margin: 0px;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.button_logout{
    padding: 10px;
	border: none;
	color: rgb(0, 0, 0);
	background-color: transparent;
	font-weight: 700;
	transition: 0.2s ease;
	font-family: 'BhuTuka Expanded One', cursive;
	cursor: pointer;
}
.button_logout:hover {	
color: aqua;
}
.commentLogo{
	color: black;
	height: 20px;
	transition: 0.5s ease-in-out;
}
.wave1{
	position: fixed;
	bottom: 0;
	left: 0;
	background-size: 100%;
	z-index: -1;
}
.wave2{
	position: fixed;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 70%;
	z-index: -1;
}

.firefighterLogo{
	height: 40px;
	background-color: #FBB741;
	border-radius: 20px;
}
nav .links li {
	list-style: none;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	transition: 0.3s ease;
}

.profileBox {
    display: flex;
    width: 45px;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-radius: 100px;
	background-color: transparent;
}
.messageBox {
    display: flex;
    justify-content: center;
    align-items: center;
	width: 45px;
	height: 45px;
	border-radius: 100px;
	background-color: rgb(233, 91, 91);
	transition: 0.3s ease;
}
.messageBox:hover{
	background-color: rgba(255, 0, 0, 0.5);
}
.profileUserLogo{
	width: 43px;
	height: 43px;
	border-radius: 100px;
}
.profileLogoInsideBox{
	width: 250px;
	height: 50px;
	display: flex;
	align-items: center;
}
.chatsBox{
	width: 250px;
	height: 50px;
	display: flex;
	align-items: center;
	text-decoration: underline;
}
.waveUser{
	position: fixed;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
}
